# Ambientes virtuais
.venv/
env/
ENV/
venv/
*.env
*.venv

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log e cache
*.log
*.tmp
*.swp
.cache/
.pytest_cache/
.coverage
coverage.xml

# Ferramentas de build
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Arquivos de lock e dependência
Pipfile.lock
poetry.lock
uv.lock
*.lock

# IDEs e editores
.vscode/
.idea/
.spyderproject
.ropeproject

# Jupyter Notebooks
.ipynb_checkpoints/

# mypy, Pyre, pytype
.mypy_cache/
.pyre/
.pytype/

# Outros
.DS_Store
*.sqlite3
*.db
